USE [CORPORE_RESIDENCIAL]
GO
/****** Object:  UserDefinedFunction [dbo].[CLASSEPORFASE]    Script Date: 03/12/2024 10:06:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER FUNCTION [dbo].[CLASSEPORFASE] (@FASE NVARCHAR(50))
RETURNS NVARCHAR(50)
AS
BEGIN
    RETURN (
        CASE 
            WHEN @FASE IN ('AC','ADM','AL','ALM','ALT','ATAE','ATE','ATEC','ATEL','ATH','ATIN','ATPO','AT-PO','ATRC','ATT','AUAX','AUD','C','CA','CO','CP','DBC','DF','DI','DRE','DVR','EPC',
							'EX','EXT','EXTEL','FX','HB','I TX','LC','LD','MA','MAP','MC','ME','MMI','MOI','MOL','MOS','MTO','OTR','PJ','RP','S','SO','TFSLQA','TI','TO','TR','TX','V','VT') THEN 'CI'
            WHEN @FASE IN ('AND','EC','ED','EQAX','FER','FT','T') THEN 'EQ'
            WHEN @FASE IN ('FC','IDEL','IDHE','LP','LT','USI') THEN 'MT'
            WHEN @FASE IN ('IPDV','MKTC','MKTIN','MKTM','MKTOUT','MKTPD','MKTPM','MKTPP','MKTPPI','MKTRE','MKTRV','MKTSI','MPDV','PBL','PBO','SMAQ','SV','SVC','SVF','SVM','SVP','SVS','VD') THEN 'CIC'
			WHEN @FASE IN ('1','21','10038','10039','10064','10066','20086','20104','20185','20189','20190','20194','30026','30030','30031','30032','30033','30043','30044','30063','30064','30065','30066'
							,'001.96','AD','AL-EQ','AL-ST','B','BIBL','CB','CC','CM','CMR','CT','EDF','EEE','EL','EPI','EQC','F','FAPDE','FDMF','FDMG','FED','FEGD','FEQR','FGJS','FIMP','FINEQ','FM','FMAC'
							,'FMADE','FMAJV','FMAR','FMAS','FMB','FMBUS','FMBW','FMCC','FMCER','FMCG','FMCR','FMDF','FMDG','FMDJ','FMEA','FMEC','FMEH','FMEI','FMEL','FMET','FMFC','FMFE','FMFM','FMFP','FMG'
							,'FMGD','FMGI','FMI','FMIA','FMIEDF','FMLTO','FMP','FMPB','FMPE','FMPGS','FMPISC','FMPM','FMPP','FMPS','FMPV','FMR','FMRE','FMREX','FMRFM','FMS','FMSGD','FMSL','FMSP','FMSR'
							,'FMSRR','FMTACM','FMTAE','FMTAS','FMTBUS','FMTCCM','FMTCG','FMTCOB','FMTCPE','FMTCSM','FMTD','FMTDF','FMTEL','FMTFD','FMTGAS','FMTGC','FMTGD','FMTGI','FMTGL','FMTI','FMTIMP'
							,'FMTIN','FMTIP','FMTLDE','FMTLIM','FMTMDF','FMTMET','FMTP','FMTPAI','FMTPC','FMTPIN','FMTPM','FMTPOR','FMTPRE','FMTPSS','FMTQD','FMTQUA','FMTRD','FMTRES','FMTRIN','FMTS','FMTSAA'
							,'FMTSERR','FMTSHA','FMTSR','FMTSRR','FMTT','FMTTERR','FNGDA','FPFOR','FPINT','FPP','FPS','FRG','FRI','FRP','IEEC','IP-ST','LJ','LO','LTO','M','MGCC','OB','P','PA','PAR','PD'
							,'PG','PISC','PLP','PP','PRA','PS','R','RMPI','HS','VT-ST') THEN 'ST'
            ELSE 'CI' -- Retorna 'Unknown' caso a fase não seja encontrada
        END
    );
END;