USE [CORPORE_RESIDENCIAL]
GO
/****** Object:  UserDefinedFunction [dbo].[TRAZ_INTERVALO_DATAS]    Script Date: 03/07/2025 10:32:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER FUNCTION [dbo].[TRAZ_INTERVALO_DATAS] (@DATA_REFERENCIA DATE)

RETURNS @RESULTADO TABLE (MES INT, DATA DATE)
AS BEGIN

declare @DATAS TABLE(MES INT, DATA DATE)
DECLARE @CONT INT = 1

WHILE @CONT <= 12
BEGIN
INSERT INTO @DATAS VALUES (MONTH(DATEADD(MONTH,-@CONT, @DATA_REFERENCIA)), DATEADD(MONTH,-@CONT, @DATA_REFERENCIA))
SET @CONT += 1

END


INSERT INTO @RESULTADO SELECT * FROM @DATAS
ORDER BY DATA



RETURN
END


