DECLARE @NUM_VENDA AS INT = 10856,
		@DATA_BASE_MULTA AS DATE = GETDATE();

 SELECT
	FLAN.CODCOLIGADA,
	XVENDAPARCELA.NUMVENDA,
	FLAN.IDLAN,
	CAST((CASE WHEN FLAN.STATUSLAN = 4 THEN  DBO.SAL_REMANECENTE(XVENDAPARCELA.IDLAN, XVENDAPARCELA.CODCOLLAN) ELSE FLAN.VALORORIGINAL END)AS MONEY) AS 'SALDO',
	(
		CASE 
			WHEN XVENDAPARCELA.CODTIPOPARC = 90 THEN 
														CAST ((CASE WHEN FLAN.STATUSLAN = 4 THEN  DBO.SAL_REMANECENTE(XVENDAPARCELA.IDLAN, XVENDAPARCELA.CODCOLLAN) ELSE FLAN.VALORORIGINAL END) 
														+ DBO.RETORA_VALORES_CEF( XVENDAPARCELA.CODCOLLAN,XVENDAPARCELA.IDLAN)
														- DBO.RETORA_VALORES_BAIXADOS_CEF( XVENDAPARCELA.CODCOLLAN,XVENDAPARCELA.IDLAN) AS MONEY) 
												ELSE 
														CAST ((CASE WHEN FLAN.STATUSLAN = 4 THEN  DBO.SAL_REMANECENTE(XVENDAPARCELA.IDLAN, XVENDAPARCELA.CODCOLLAN) ELSE FLAN.VALORORIGINAL END) AS MONEY) 
														
		END
	)AS 'VALOR',

	ISNULL((SELECT SUM (VALOR)FROM FLANINTEGRACAO (NOLOCK) WHERE IDLAN = FLAN.IDLAN AND CODCOLIGADA = FLAN.CODCOLIGADA 
	AND IDCAMPO IN (SELECT IDCAMPO FROM DBO.RETORNA_IDCAMPO_JUROS(FLAN.CODCOLIGADA,'CM'))),0) AS 'CORRECAO_TOTAL',

	ISNULL((SELECT SUM (VALOR)FROM FLANINTEGRACAO (NOLOCK) WHERE IDLAN = FLAN.IDLAN AND CODCOLIGADA = FLAN.CODCOLIGADA 
	AND IDCAMPO IN (select IDCAMPO from dbo.RETORNA_IDCAMPO_JUROS(FLAN.CODCOLIGADA,'TAXA DE JUROS'))),0)  AS 'TAXA_JUROS_TOTAL',

	ISNULL((SELECT SUM (VALOR)FROM FLANINTEGRACAO (NOLOCK) WHERE IDLAN = FLAN.IDLAN AND CODCOLIGADA = FLAN.CODCOLIGADA 
	AND IDCAMPO IN (SELECT IDCAMPO FROM DBO.RETORNA_IDCAMPO_JUROS(FLAN.CODCOLIGADA,'DESCONTO'))),0) AS 'DESCONTO_ADITIVO_TOTAL',

	ISNULL((SELECT SUM (VALOR)FROM FLANINTEGRACAO (NOLOCK) WHERE IDLAN = FLAN.IDLAN AND CODCOLIGADA = FLAN.CODCOLIGADA 
	AND IDCAMPO IN (SELECT IDCAMPO FROM DBO.RETORNA_IDCAMPO_JUROS(FLAN.CODCOLIGADA,'JUROS'))),0) AS 'JUROS_TOTAL',

	ISNULL((SELECT SUM (VALOR)FROM FLANINTEGRACAO (NOLOCK) WHERE IDLAN = FLAN.IDLAN AND CODCOLIGADA = FLAN.CODCOLIGADA 
	AND IDCAMPO IN (SELECT IDCAMPO FROM DBO.RETORNA_IDCAMPO_JUROS(FLAN.CODCOLIGADA,'FIN_CEF'))),0) AS 'FIN_CEF_TOTAL', /*É A SOMA DE TERRENO, SUBSÍDIO CEF E FGTS CEF*/

	ISNULL(FLAN.VALORDESCONTO,0) AS 'DESCONTO_TOTAL',

	ISNULL(FLAN.VALOROP8,0) AS 'HONORARIO_TOTAL',

	(ISNULL(ROUND((DBO.MULTA_PARCELAS_SGI (FLAN.CODCOLIGADA,FLAN.IDLAN, @DATA_BASE_MULTA)),2),0)
		+
		ISNULL((SELECT SUM(FLANBAIXA.VALORMULTA) FROM FLANBAIXA (NOLOCK) 
												WHERE FLANBAIXA.IDLAN = FLAN.IDLAN 
												AND FLANBAIXA.CODCOLIGADA = FLAN.CODCOLIGADA 
												AND FLANBAIXA.STATUS <> 1 ),0)) AS 'MULTA_TOTAL',

	(ISNULL(ROUND((DBO.JUROS_PARCELAS_SGI (FLAN.CODCOLIGADA,FLAN.IDLAN, @DATA_BASE_MULTA)),2),0)
		+
		ISNULL((SELECT SUM(FLANBAIXA.VALORJUROS) FROM FLANBAIXA (NOLOCK) 
													WHERE FLANBAIXA.IDLAN = FLAN.IDLAN 
													AND FLANBAIXA.CODCOLIGADA = FLAN.CODCOLIGADA 
													AND FLANBAIXA.STATUS <> 1 ),0)) AS 'MORA_TOTAL',

	(	FLAN.VALORORIGINAL
		+
		/*'CORRECAO_TOTAL'*/
		ISNULL((SELECT SUM (VALOR)FROM FLANINTEGRACAO (NOLOCK) WHERE IDLAN = FLAN.IDLAN AND CODCOLIGADA = FLAN.CODCOLIGADA 
		AND IDCAMPO IN (SELECT IDCAMPO FROM DBO.RETORNA_IDCAMPO_JUROS(FLAN.CODCOLIGADA,'CM'))),0) 
		+
		/*'JUROS_TOTAL'*/
		ISNULL((SELECT SUM (VALOR)FROM FLANINTEGRACAO (NOLOCK) WHERE IDLAN = FLAN.IDLAN AND CODCOLIGADA = FLAN.CODCOLIGADA 
		AND IDCAMPO IN (SELECT IDCAMPO FROM DBO.RETORNA_IDCAMPO_JUROS(FLAN.CODCOLIGADA,'JUROS'))),0) 
 		+
		/*'MULTA_TOTAL'*/
		(ISNULL(ROUND((DBO.MULTA_PARCELAS_SGI (FLAN.CODCOLIGADA,FLAN.IDLAN, @DATA_BASE_MULTA)),2),0)
			+
			ISNULL((SELECT SUM(FLANBAIXA.VALORMULTA) FROM FLANBAIXA (NOLOCK) 
													WHERE FLANBAIXA.IDLAN = FLAN.IDLAN 
													AND FLANBAIXA.CODCOLIGADA = FLAN.CODCOLIGADA 
													AND FLANBAIXA.STATUS <> 1 ),0)) 
		+
		/*'MORA_TOTAL'*/
		(ISNULL(ROUND((DBO.JUROS_PARCELAS_SGI (FLAN.CODCOLIGADA,FLAN.IDLAN, @DATA_BASE_MULTA)),2),0)
			+
			ISNULL((SELECT SUM(FLANBAIXA.VALORJUROS) FROM FLANBAIXA (NOLOCK) 
														WHERE FLANBAIXA.IDLAN = FLAN.IDLAN 
														AND FLANBAIXA.CODCOLIGADA = FLAN.CODCOLIGADA 
														AND FLANBAIXA.STATUS <> 1 ),0)) 

		-
		/*'DESCONTO_ADITIVO_TOTAL'*/
		ISNULL((SELECT SUM (VALOR)FROM FLANINTEGRACAO (NOLOCK) 
									WHERE IDLAN = FLAN.IDLAN AND CODCOLIGADA = FLAN.CODCOLIGADA 
									AND IDCAMPO IN (SELECT IDCAMPO FROM DBO.RETORNA_IDCAMPO_JUROS(FLAN.CODCOLIGADA,'DESCONTO'))),0) 

		-
		/*'DESCONTO_TOTAL'*/
		ISNULL(FLAN.VALORDESCONTO,0)
		+
		/*'HONORARIO_TOTAL'*/
		ISNULL(FLAN.VALOROP8,0) 

	) AS 'VALOR_TOTAL',

	ISNULL((SELECT SUM (VALOR)FROM FLANBAIXAINTEGRACAO (NOLOCK) 
	INNER JOIN FLANBAIXA (NOLOCK) ON (FLANBAIXA.IDBAIXA = FLANBAIXAINTEGRACAO.IDBAIXA AND FLANBAIXA.IDLAN = FLANBAIXAINTEGRACAO.IDLAN AND FLANBAIXA.CODCOLIGADA = FLANBAIXAINTEGRACAO.CODCOLIGADA)
	WHERE FLANBAIXA.STATUS <> 1 
	AND FLANBAIXAINTEGRACAO.IDLAN = FLAN.IDLAN 
	AND FLANBAIXAINTEGRACAO.CODCOLIGADA = FLAN.CODCOLIGADA 
	AND FLANBAIXAINTEGRACAO.IDCAMPO IN (SELECT IDCAMPO FROM DBO.RETORNA_IDCAMPO_JUROS(FLAN.CODCOLIGADA,'CM'))),0) AS 'CORRECAO_BAIXADO',

	ISNULL((SELECT SUM (VALOR)FROM FLANBAIXAINTEGRACAO (NOLOCK) /*adicionado apedido do Julio chamado 1024-000325 para calcular o componente na soma total*/
	INNER JOIN FLANBAIXA (NOLOCK) ON (FLANBAIXA.IDBAIXA = FLANBAIXAINTEGRACAO.IDBAIXA AND FLANBAIXA.IDLAN = FLANBAIXAINTEGRACAO.IDLAN AND FLANBAIXA.CODCOLIGADA = FLANBAIXAINTEGRACAO.CODCOLIGADA)
	WHERE 
	FLANBAIXA.STATUS <> 1 
	AND FLANBAIXAINTEGRACAO.IDLAN = FLAN.IDLAN 
	AND FLANBAIXAINTEGRACAO.CODCOLIGADA = FLAN.CODCOLIGADA 
	AND FLANBAIXAINTEGRACAO.IDCAMPO IN (select IDCAMPO from dbo.RETORNA_IDCAMPO_JUROS(FLAN.CODCOLIGADA,'TAXA DE JUROS'))),0) AS 'TAXA_JUROS_BAIXADO',

	ISNULL((SELECT SUM (VALOR)FROM FLANBAIXAINTEGRACAO (NOLOCK)
	INNER JOIN FLANBAIXA (NOLOCK) ON (FLANBAIXA.IDBAIXA = FLANBAIXAINTEGRACAO.IDBAIXA AND FLANBAIXA.IDLAN = FLANBAIXAINTEGRACAO.IDLAN AND FLANBAIXA.CODCOLIGADA = FLANBAIXAINTEGRACAO.CODCOLIGADA)
	WHERE FLANBAIXA.STATUS <> 1 
	AND FLANBAIXAINTEGRACAO.IDLAN = FLAN.IDLAN 
	AND FLANBAIXAINTEGRACAO.CODCOLIGADA = FLAN.CODCOLIGADA 
	AND FLANBAIXAINTEGRACAO.IDCAMPO IN (SELECT IDCAMPO FROM DBO.RETORNA_IDCAMPO_JUROS(FLAN.CODCOLIGADA,'JUROS'))),0) AS 'JUROS_BAIXADO',

	ISNULL((SELECT SUM (VALOR)FROM FLANBAIXAINTEGRACAO (NOLOCK)
	INNER JOIN FLANBAIXA (NOLOCK) ON (FLANBAIXA.IDBAIXA = FLANBAIXAINTEGRACAO.IDBAIXA AND FLANBAIXA.IDLAN = FLANBAIXAINTEGRACAO.IDLAN AND FLANBAIXA.CODCOLIGADA = FLANBAIXAINTEGRACAO.CODCOLIGADA)
	WHERE FLANBAIXA.STATUS <> 1 
	AND FLANBAIXAINTEGRACAO.IDLAN = FLAN.IDLAN 
	AND FLANBAIXAINTEGRACAO.CODCOLIGADA = FLAN.CODCOLIGADA 
	AND FLANBAIXAINTEGRACAO.IDCAMPO IN (SELECT IDCAMPO FROM DBO.RETORNA_IDCAMPO_JUROS(FLAN.CODCOLIGADA,'DESCONTO'))),0) AS 'DESCONTO_ADITIVO_BAIXADO',

	ISNULL((SELECT SUM (VALOR)FROM FLANBAIXAINTEGRACAO (NOLOCK)
	INNER JOIN FLANBAIXA (NOLOCK) ON (FLANBAIXA.IDBAIXA = FLANBAIXAINTEGRACAO.IDBAIXA AND FLANBAIXA.IDLAN = FLANBAIXAINTEGRACAO.IDLAN AND FLANBAIXA.CODCOLIGADA = FLANBAIXAINTEGRACAO.CODCOLIGADA)
	WHERE FLANBAIXA.STATUS <> 1 
	AND FLANBAIXAINTEGRACAO.IDLAN = FLAN.IDLAN 
	AND FLANBAIXAINTEGRACAO.CODCOLIGADA = FLAN.CODCOLIGADA 
	AND FLANBAIXAINTEGRACAO.IDCAMPO IN (SELECT IDCAMPO FROM DBO.RETORNA_IDCAMPO_JUROS(FLAN.CODCOLIGADA,'FIN_CEF'))),0) AS 'FIN_CEF_BAIXADO',  /*É A SOMA DE TERRENO, SUBSÍDIO CEF E FGTS CEF*/

	ISNULL((SELECT SUM(FLANBAIXA.VALORDESCONTO) FROM FLANBAIXA (NOLOCK) 
	WHERE FLANBAIXA.IDLAN = FLAN.IDLAN 
	AND FLANBAIXA.CODCOLIGADA = FLAN.CODCOLIGADA 
	AND FLANBAIXA.STATUS <> 1 ),0) AS 'DESCONTO_BAIXADO',

	ISNULL((SELECT SUM(FLANBAIXA.VALOROP8) FROM FLANBAIXA (NOLOCK) 
	WHERE FLANBAIXA.IDLAN = FLAN.IDLAN 
	AND FLANBAIXA.CODCOLIGADA = FLAN.CODCOLIGADA 
	AND FLANBAIXA.STATUS <> 1 ),0) AS 'HONORARIO_BAIXADO',

	ISNULL(ROUND((DBO.MULTA_PARCELAS_SGI (FLAN.CODCOLIGADA,FLAN.IDLAN, @DATA_BASE_MULTA)),2),0) AS 'MULTA',
	ISNULL(ROUND((DBO.JUROS_PARCELAS_SGI (FLAN.CODCOLIGADA,FLAN.IDLAN, @DATA_BASE_MULTA)),2),0) AS 'MORA',

	ISNULL((SELECT SUM(FLANBAIXA.VALORMULTA) FROM FLANBAIXA (NOLOCK) 
												WHERE FLANBAIXA.IDLAN = FLAN.IDLAN 
												AND FLANBAIXA.CODCOLIGADA = FLAN.CODCOLIGADA 
												AND FLANBAIXA.STATUS <> 1 ),0) AS 'MULTA_BAIXADA',
		
	ISNULL((SELECT SUM(FLANBAIXA.VALORJUROS) FROM FLANBAIXA (NOLOCK) 
												WHERE FLANBAIXA.IDLAN = FLAN.IDLAN 
												AND FLANBAIXA.CODCOLIGADA = FLAN.CODCOLIGADA 
												AND FLANBAIXA.STATUS <> 1 ),0) AS 'MORA_BAIXADA'
	
	



FROM FLAN (NOLOCK)
INNER JOIN XVENDAPARCELA             (NOLOCK) ON (XVENDAPARCELA.CODCOLLAN=FLAN.CODCOLIGADA AND XVENDAPARCELA.IDLAN=FLAN.IDLAN)

WHERE	FLAN.STATUSLAN IN (0,4,1)
AND XVENDAPARCELA.NUMVENDA = @NUM_VENDA
